---
import Data from "../components/Data.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Services from "../components/Services.astro";
import TopIndex from "../components/TopIndex.astro";
import Why from "../components/Why.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/assets/minilogo.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Organización y Desarrollo</title>
		<link rel="stylesheet" href="../styles/base.css">
	</head>
	<body class="w-full min-h-screen flex flex-col jus items-center bg-orange-100">
		<TopIndex />
		<Why />
		<Data />
		<Services />
		<Footer />
	</body>
</html>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
	*{
		font-family: Montserrat, sans-serif;
	}
</style>
