---
import Header from "../components/Header.astro";
import TopIndex from "../components/TopIndex.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/assets/minilogo.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Organización y Desarrollo</title>
		<link rel="stylesheet" href="../styles/base.css">
	</head>
	<body>
		<TopIndex />
		<main class="w-full h-[800px] bg-orange-100">
			<div></div>
		</main>
	</body>
</html>
