---
import { Image } from "astro:assets";
import logo from '../assets/logo_blanco.png';
import { Mail, Web } from "./svgs";
import { Phone } from "./svgs";
import { Instagram } from "./svgs";
import { Facebook } from "./svgs";
import { Linkedin } from "./svgs";
---

<footer class="w-full h-fit py-10 flex flex-col items-start md:items-center px-10  gap-14 bg-darkblue text-white font-montserrat">
    <div class="flex flex-col md:flex-row items-start justify-center gap-10 md:gap-32">
        <Image src={logo} width={100} alt="logo" />
        <div class="flex flex-col gap-5">
            <h2 class="font-bold text-xl">Contacto</h2>
            <div>
                <div class="flex items-center gap-2 mb-3">
                    <Mail />
                    <p>info@organizacionydesarrollo.com</p>
                </div>
                <div class="flex items-center gap-2">
                    <Phone />
                    <p>+54 9 3804-828899</p>
                </div>

            </div>
            <ul class="flex items-center gap-5">
                <a href="/" class="hover:scale-125 transition">
                    <Instagram />
                </a>
                <a href="/" class="hover:scale-125 transition">
                    <Facebook />
                </a>
                <a href="/" class="hover:scale-125 transition">
                    <Linkedin />
                </a>
                <a href="/" class="hover:scale-125 transition">
                    <Web />
                </a>
            </ul>
        </div>
        <div class="flex flex-col gap-5">
            <h2 class="font-bold text-xl">Compañia</h2>
            <div class="flex flex-col gap-2">
                <a href="" class="hover:bg-white hover:text-darkblue px-2 transition">Unite a nuestro equipo</a>
                <a href="" class="hover:bg-white hover:text-darkblue px-2 transition">Sobre nosotros</a>
                <a href="" class="hover:bg-white hover:text-darkblue px-2 transition">Proyectos</a>
            </div>
        </div>
        <div class="flex flex-col gap-5">
            <h2 class="font-bold text-xl">Servicios</h2>
            <div class="flex flex-col gap-2">
                <a href="/" class="hover:bg-white hover:text-darkblue px-2 transition">Técnologia</a>
                <a href="/" class="hover:bg-white hover:text-darkblue px-2 transition">Administración</a>
                <a href="/" class="hover:bg-white hover:text-darkblue px-2 transition">Recursos Humanos</a>
                <a href="/" class="hover:bg-white hover:text-darkblue px-2 transition">Proyectos</a>
            </div>
        </div>
    </div>
    <p>Todos los derechos reservados - 2024</p>
</footer>