<section class="w-full h-fit flex flex-col items-center bg-orange-100">
    <div class="w-12 h-3 mb-5 mt-40 text-center border-2 rounded-full bg-orangeMain"></div>
    <div class="w-full h-fit flex flex-col items-center">
        <h2 class="text-5xl font-bold text-center text-darkblue">SERVICIOS QUE OFRECEMOS</h2>
        <div class="w-full mt-10 px-20 flex flex-col items-center justify-center flex-wrap gap-5 md:flex-row">
            <article class="w-full h-[380px] bg-orange-400 md:m-2 bg-semi-black pb-4 md:w-5/12 flex flex-col justify-between items-center rounded-lg">
                
            </article>
            <article class="w-full h-[380px] bg-orange-400 md:m-2 bg-semi-black pb-4 md:w-5/12 flex flex-col justify-between items-center rounded-lg">
                
            </article>
            <article class="w-full h-[380px] bg-orange-400 md:m-2 bg-semi-black pb-4 md:w-5/12 flex flex-col justify-between items-center rounded-lg">
                
            </article>
            <article class="w-full h-[380px] bg-orange-400 md:m-2 bg-semi-black pb-4 md:w-5/12 flex flex-col justify-between items-center rounded-lg">
                
            </article>
        </div>
    </div>
    <div class="w-12 h-3 mb-5 mt-20 text-center border-2 rounded-full bg-orangeMain"></div>
</section>