---
import Header from "./Header.astro";
---
<section class="w-full min-h-screen font-montserrat">
    <div class="w-full min-h-screen bg-center bg-no-repeat bg-cover" style="background-image: url('assets/banner.jpg');">
        <div class="w-full min-h-screen text-white bg-orangeSec bg-opacity-55">
            <Header />
            <div class="w-1/2 h-[550px] pt-40 pl-40 flex flex-col items-start gap-3 justify-center">
                <h2 class="font-bold text-6xl leading-tight">ESPECIALISTAS EN PROYECTOS Y  <br> TRANSFORAMCIÓN DIGITAL</h2>
                <h3 class="font-bold text-2xl">En Organización y Desarrollo, buscamos llevar tu empresa a lo más alto del mercado</h3>
                <a href="/" class="uppercase px-7 py-3 bg-darkblue rounded-full text-2xl font-bold hover:scale-125 transition">Conocenos</a>
            </div>
        </div>
    </div>
</section>