<main class="w-full h-fit flex flex-col gap-10 pt-10 items-center bg-orange-100 font-montserrat">
    <div class="w-12 h-3 mb-5 text-center border-2 rounded-full bg-orangeMain"></div>
    <div class="w-full flex flex-col items-center gap-8">
        <h2 class="text-5xl font-bold text-center text-darkblue">¿POR QUÉ ELEGIRNOS?</h2>
        <div class="md:w-9/12 flex flex-col md:flex-row items-center gap-7 md:gap-10 px-5">
            <div class="w-full md:w-1/2 h-96 md:h-72 rounded-2xl bg-cover bg-center" style="background-image: url('assets/info.webp');"></div>
            <div class="md:hidden w-12 h-3 self-start border-2 rounded-full bg-orangeMain"></div>
            <p class="w-full md:w-1/2 text-xl leading-relaxed">
                Somos un equipo multidisciplinario comprometido en proveer servicios empresariales de excelencia. <br>
                Nuestra meta es ayudar a nuestros clientes a alcanzar sus objetivos tanto organizacionales como personales. <br>
                Para lograr esto, ofrecemos servicios de desarrrollo, asesoría, formación y gestión que están diseñados para acompañar a nuestros clientes en todo momento.
            </p>
        </div>
    </div>
</main>